@import url('//fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fafafa;
}
